<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h2>Добро пожаловать!</h2>
<h3> <br>Главная страница</h3>
<h3> О компании!<br></h3>
<p> FutureTech Solutions, занимается разработкой программного обеспечения для различных отраслей,<br>
    включая медицину, образование и транспорт. Они также предлагают услуги по анализу данных и созданию мобильных <br>
    приложений. Компания имеет офисы в разных странах и работает с клиентами по всему миру.</p>
<button><a href='about/'>О нас</a></button>
</body>
</html>